<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>Byte Warrior's Bites</h1>
    <h2>Best pizzas in town!</h2>

    <img src="/images/home.jpg" />

</body>

</html>